/* Ensure Tailwind CSS is installed and configured correctly */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Mona Sans';
  src:
    url('../public/fonts/Mona Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../public/fonts/Mona Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 500 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../public/fonts/Hubot Sans/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../public/fonts/Hubot Sans/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 300 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}
